.stat {
	font-weight: bold;
}

.chart {
	margin-right: 20px;
	margin-left: 20px;
}

.d-flex {
	align-items: center;

	h6 {
		width: 50%;
		margin-bottom: 0;
		text-align: right;
		padding-right: 5px;
	}
}

#chart-header {
	justify-content: right;
	padding-bottom: 15px;

	div {
		padding-left: 10px;
	}
}

.container {
	text-align: center;
	padding-bottom: 10px;
}

.datum-header {
	padding-top: 10px;
	color: gray;
}

#tot-duration-data {
	font-size: clamp(2rem, -1rem + 4vw, 3.25rem);
}

.data {
	font-weight: bolder;
	font-size: xxx-large;
	padding-top: 30px;

	.unit {
		font-size: small;
		font-weight: normal;
		margin-left: -10px;
	}
}

.data-details-header {
	font-size: smaller;
	color: #AAA;
}

.data-details-art {
	img {
		height: 50px;
	} 
}

.datum {
	height: 200px;
	background-color: whitesmoke;
	border-radius: 10px;
	min-width: 200px;
}

.col {
	margin-bottom: 20px
}