.card-img-overlay {
	padding: 7px;
	height: 0%;

	.card-text {
		text-align: left;
	
		small {
			background-color: rgba(210, 210, 210, 0.67);
			padding: 0 5px;
			color: black;
			border-radius: 4px;
			font-weight: bold;
		}
	}
}

.card-title {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
	

a {
	text-decoration: none;
	color: deepskyblue;
	font-size: smaller;
	letter-spacing: 2px;
	font-weight: bold;

	.card-footer
	{
		text-align: center;
	}
}

img {
	aspect-ratio: 16 / 9;
}

.card {
	width: 22rem;
}

h5 {
	color: #333;
}