<div class="container">
	<p class="display-4">Edit Series: {{seriesName}}</p>

	<div *ngIf="isLoading" class="text-center">
		<div class="spinner-border" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>

	<form *ngIf="!isLoading">
		<div class="form-floating mb-3">
			<input type="text"
				   class="form-control"
				   id="floatingTitle"
				   placeholder="Title"
				   [(ngModel)]="seriesName"
				   name="seriesName"
				   id="seriesNameInput">
			<label for="floatingTitle">Title</label>
		</div>
		<div class="row g-2">
			<div class="col-md">
				<div class="form-floating mb-3">
					<input type="date"
						   class="form-control"
						   id="floatingStartDate"
						   placeholder="Start Date"
						   name="startDate"
						   [(ngModel)]="startDate"
						   id="startDateInput">
					<label for="floatingStartDate">Start Date</label>
				</div>
			</div>
			<div class="col-md">
				<div class="form-floating mb-3">
					<input type="date"
						   class="form-control"
						   id="floatingEndDate"
						   placeholder="End Date"
						   name="endDate"
						   [(ngModel)]="endDate"
						   id="endDateInput">
					<label for="floatingEndDate">End Date</label>
				</div>
			</div>
		</div>
		<div class="form-floating mb-3">
			<input type="text"
				   class="form-control"
				   id="floatingSlug"
				   placeholder="Slug"
				   name="seriesSlug"
				   [(ngModel)]="seriesSlug"
				   id="seriesSlugInput">
			<label for="floatingSlug">Slug</label>
		</div>
		<div class="form-floating mb-3">
			<input type="text"
				   class="form-control"
				   id="floatingThumbnailUrl"
				   placeholder="Thumbnail Url"
				   name="seriesThumbnailUrl"
				   [(ngModel)]="seriesThumbnailUrl"
				   id="seriesThumbnailUrl">
			<label for="floatingThumbnailUrl">Thumbnail URL</label>
		</div>
		<div class="form-floating mb-3">
			<input type="text"
				   class="form-control"
				   id="floatingArtUrl"
				   placeholder="Art Url"
				   name="seriesArtUrl"
				   [(ngModel)]="seriesArtUrl"
				   id="seriesArtUrl">
			<label for="floatingArtUrl">Art URL</label>
		</div>

		<div class="mt-4">
			<button
				type="button"
				class="btn btn-primary me-2"
				(click)="updateSeries()">Update Series</button>
			<button
				type="button"
				class="btn btn-secondary"
				(click)="cancel()">Cancel</button>
		</div>
	</form>
</div>
<app-toast-message></app-toast-message>