<div class="d-inline-flex p-2 align-items-stretch">
	<div class="card h-100">
	<ngx-skeleton-loader class="card-img-top"
		count="1"
		[theme]="cardImageTheme$ | async">
	</ngx-skeleton-loader>
	<div class="card-body">
		<ngx-skeleton-loader
			count="1"
			appearance="line"
			animation="pulse"
			[theme]="titleTheme$ | async">
		</ngx-skeleton-loader>
		<br>
		<ngx-skeleton-loader
			count="1"
			appearance="line"
			animation="pulse"
			[theme]="subtitleTheme$ | async">
		</ngx-skeleton-loader>
		<ngx-skeleton-loader
			count="1"
			appearance="line"
			animation="pulse"
			[theme]="dateTheme$ | async">
		</ngx-skeleton-loader>
		<br>
		<ngx-skeleton-loader
			count="1"
			appearance="line"
			animation="pulse"
			[theme]="subtitleTheme$ | async">
		</ngx-skeleton-loader>
	</div>
	<div class="card-footer">
		<ngx-skeleton-loader
			count="1"
			animation="pulse"
			[theme]="footerTheme$ | async">
		</ngx-skeleton-loader>
	</div>
</div>