<div class="message-summary">
	<ngx-skeleton-loader 
		count="1" 
		appearance="line" 
		animation="pulse"
		[theme]="{
			'width': '95%',
			'cursor': 'default',
			'height': '24px',
			'margin': '0'
		}">
	</ngx-skeleton-loader>
	<div class="additional-info">
		<div class="row">
			<div class="col">
				<ngx-skeleton-loader 
					count="1"
					appearance="line"
					animation="pulse"
					[theme]="{
						'width': '30%',
						'cursor': 'default',
						'height': '1rem'
					}">
				</ngx-skeleton-loader>
				<br>
				<ngx-skeleton-loader 
					count="1"
					appearance="line"
					animation="pulse"
					[theme]="{
						'width': '100%',
						'cursor': 'default',
						'height': '1rem'
					}">
				</ngx-skeleton-loader>
			</div>
			<div class="col">
				<ngx-skeleton-loader 
					count="1"
					appearance="line"
					animation="pulse"
					[theme]="{
						'width': '50%',
						'cursor': 'default',
						'height': '1rem'
					}">
				</ngx-skeleton-loader>
				<br>
				<ngx-skeleton-loader 
					count="1"
					appearance="line"
					animation="pulse"
					[theme]="{
						'width': '30%',
						'cursor': 'default',
						'height': '1rem'
					}">
				</ngx-skeleton-loader>
			</div>
			<div class="col">
				<ngx-skeleton-loader 
					count="1"
					appearance="line"
					animation="pulse"
					[theme]="{
						'width': '60%',
						'cursor': 'default',
						'height': '1rem'
					}">
				</ngx-skeleton-loader>
				<br>
				<ngx-skeleton-loader 
					count="1"
					appearance="line"
					animation="pulse"
					[theme]="{
						'width': '50%',
						'cursor': 'default',
						'height': '1rem'
					}">
				</ngx-skeleton-loader>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<ngx-skeleton-loader 
					count="1"
					appearance="line"
					animation="pulse"
					[theme]="{
						'width': '50%',
						'cursor': 'default',
						'height': '1rem'
					}">
				</ngx-skeleton-loader>
				<br>
				<ngx-skeleton-loader 
					count="1"
					appearance="line"
					animation="pulse"
					[theme]="{
						'width': '100%',
						'cursor': 'default',
						'height': '1rem'
					}">
				</ngx-skeleton-loader>
			</div>
			<div class="col">
				<ngx-skeleton-loader 
					count="1"
					appearance="line"
					animation="pulse"
					[theme]="{
						'width': '50%',
						'cursor': 'default',
						'height': '1rem'
					}">
				</ngx-skeleton-loader>
				<br>
				<ngx-skeleton-loader 
					count="1"
					appearance="line"
					animation="pulse"
					[theme]="{
						'width': '100%',
						'cursor': 'default',
						'height': '1rem'
					}">
				</ngx-skeleton-loader>
			</div>
			<div class="col">
				<ngx-skeleton-loader 
					count="1"
					appearance="line"
					animation="pulse"
					[theme]="{
						'width': '50%',
						'cursor': 'default',
						'height': '1rem'
					}">
				</ngx-skeleton-loader>
				<br>
				<ngx-skeleton-loader 
					count="1"
					appearance="line"
					animation="pulse"
					[theme]="{
						'width': '100%',
						'cursor': 'default',
						'height': '1rem'
					}">
				</ngx-skeleton-loader>
			</div>
		</div>
		<!-- Maybe we can eventually do this but not now. -->
		<!-- <div *ngIf="message.AudioUrl" class="row">
			<audio controls>
				<source src="{{message.AudioUrl}}" type="audio/mp3">
				Your browser does not support the audio element.
			</audio>
		</div> -->
	</div>
</div>