<div class="message-summary">
	<ngx-skeleton-loader
		count="1"
		appearance="line"
		animation="pulse"
		[theme]="titleTheme$ | async">
	</ngx-skeleton-loader>
	<div class="additional-info">
		<div class="row">
			<div class="col">
				<ngx-skeleton-loader
					count="1"
					appearance="line"
					animation="pulse"
					[theme]="smallTheme$ | async">
				</ngx-skeleton-loader>
				<br>
				<ngx-skeleton-loader
					count="1"
					appearance="line"
					animation="pulse"
					[theme]="fullWidthTheme$ | async">
				</ngx-skeleton-loader>
			</div>
			<div class="col">
				<ngx-skeleton-loader
					count="1"
					appearance="line"
					animation="pulse"
					[theme]="mediumTheme$ | async">
				</ngx-skeleton-loader>
				<br>
				<ngx-skeleton-loader
					count="1"
					appearance="line"
					animation="pulse"
					[theme]="smallTheme$ | async">
				</ngx-skeleton-loader>
			</div>
			<div class="col">
				<ngx-skeleton-loader
					count="1"
					appearance="line"
					animation="pulse"
					[theme]="largeTheme$ | async">
				</ngx-skeleton-loader>
				<br>
				<ngx-skeleton-loader
					count="1"
					appearance="line"
					animation="pulse"
					[theme]="mediumTheme$ | async">
				</ngx-skeleton-loader>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<ngx-skeleton-loader
					count="1"
					appearance="line"
					animation="pulse"
					[theme]="mediumTheme$ | async">
				</ngx-skeleton-loader>
				<br>
				<ngx-skeleton-loader
					count="1"
					appearance="line"
					animation="pulse"
					[theme]="fullWidthTheme$ | async">
				</ngx-skeleton-loader>
			</div>
			<div class="col">
				<ngx-skeleton-loader
					count="1"
					appearance="line"
					animation="pulse"
					[theme]="mediumTheme$ | async">
				</ngx-skeleton-loader>
				<br>
				<ngx-skeleton-loader
					count="1"
					appearance="line"
					animation="pulse"
					[theme]="fullWidthTheme$ | async">
				</ngx-skeleton-loader>
			</div>
			<div class="col">
				<ngx-skeleton-loader
					count="1"
					appearance="line"
					animation="pulse"
					[theme]="mediumTheme$ | async">
				</ngx-skeleton-loader>
				<br>
				<ngx-skeleton-loader
					count="1"
					appearance="line"
					animation="pulse"
					[theme]="fullWidthTheme$ | async">
				</ngx-skeleton-loader>
			</div>
		</div>
		<!-- Maybe we can eventually do this but not now. -->
		<!-- <div *ngIf="message.AudioUrl" class="row">
			<audio controls>
				<source src="{{message.AudioUrl}}" type="audio/mp3">
				Your browser does not support the audio element.
			</audio>
		</div> -->
	</div>
</div>