.container {
    margin-left: 0 !important;
}

@import 'src/styles.scss';

.navbar {
    z-index: 2;

    .dropdown-menu {
        background-color: var(--color-background);
        border-color: var(--color-border);

        .dropdown-item {
            color: var(--color-dropdown-item);

            &:hover {
                color: var(--color-dropdown-item-hover);
                cursor: pointer;
                background-color: var(--color-dropdown-item-focus);
            }

            &:focus {
                color: var(--color-dropdown-item-hover);
                cursor: pointer;
                background-color: var(--color-dropdown-item-focus);
            }

            &:active {
                background-color: var(--color-dropdown-item-focus);
            }
        }

        a:active {
            color: var(--color-tertiary) !important;
        }
    }
}

.adjustMarginNavBar {
    margin-bottom: 71px;
    display: block;
}

a:active {
    color: var(--color-secondary) !important;
}

.btn-primary:active:focus {
    background-color: var(--color-submit-button-focus);
    border-color: var(--color-submit-button-focus);
}

#interactive-text-main-light {
    color: var(--color-interactive-light) !important;
}

svg {
    color: var(--color-text-inverse);
}

.navbar-text {
    padding-right: 20px;
}