#create-button-row {
    text-align-last: end !important;
}

.container {
    padding-top: 10px;
    padding-bottom: 25px;
}

#footer {
    text-align: center;
    padding-bottom: 5px;
    color: var(--color-text-secondary);
}

#link {
    width: 15px;
    color: var(--color-dashboard-link);
}

.mode-banner {
    padding-top: 5px;
    text-align: center;
    background-color: var(--color-background-secondary);
    color: var(--color-text-secondary);
}