<div class="message-summary">
  <div class="title">
    {{message.Title}}@if (message.VideoUrl) {
    <span><a target="_blank" href="{{message.VideoUrl}}"><i class="fab fa-youtube"></i></a></span>
    }<span (click)="copyMessageId()"><i class="fa fa-clone" title="{{message.MessageId}}"></i></span>
    <span *ngIf="isAuthenticated$ | async" (click)="editMessage()" class="action-icon edit-icon" title="Edit Message">
        <i id="edit-pencil" class="fa fa-pencil"></i>
    </span>
  </div>
  <div class="additional-info">
    <div class="row">
      <div class="col">
        <div class="data-title">
          Date
        </div>
        <div class="data">
          {{ message.Date | date: 'MMMM d, yyyy':'UTC' }}
        </div>
      </div>
      <div class="col">
        <div class="data-title">
          Duration
        </div>
        <div class="data">
          {{ message.AudioDuration ?? 0 | duration: 'm[m] s[s]' }}
        </div>
      </div>
      <div class="col">
        <div class="data-title">
          File Size
        </div>
        <div class="data">
          {{ message.AudioFileSize ?? 0 | filesize: 'MB' }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="data-title">
          Passage
        </div>
        <div class="data">
          {{ message.PassageRef ?? "N/A"}} @if (message.PassageRef) {
          <a target="_blank" href="https://www.biblegateway.com/passage/?search={{encodedPassage}}&version=ESV"><i class="fas fa-external-link-alt"></i></a>
        }
      </div>
    </div>
    <div class="col">
      <div class="data-title">
        Speaker
      </div>
      <div class="data">
        {{ message.Speaker }}
      </div>
    </div>
    <div class="col">
      <div class="data-title">
        Play Count
      </div>
      <div class="data">
        {{ message.PlayCount }}
      </div>
    </div>
  </div>
  @if (message.AudioUrl) {
    <div class="row">
      <div class="data-title">
        Audio Url
      </div>
      <div class="data">
        {{ message.AudioUrl }} <a target="_blank" href="{{message.AudioUrl}}"><i class="fas fa-external-link-alt"></i></a>
      </div>
    </div>
  }
  @if (message.Summary) {
    <div class="row">
      <div class="data-title">
        Summary
      </div>
      <div class="summary-text">
        {{ message.Summary }}
      </div>
    </div>
  }
  @if (message.Tags && message.Tags.length > 0) {
    <div class="row">
      <div class="data-title">
        Tags
      </div>
      <div class="tags-container">
        @for (tag of message.Tags; track tag) {
          <span class="badge tag-badge">{{ getTagLabel(tag) }}</span>
        }
      </div>
    </div>
  }
  <!-- Maybe we can eventually do this but not now. -->
  <!-- <div *ngIf="message.AudioUrl" class="row">
  <audio controls>
    <source src="{{message.AudioUrl}}" type="audio/mp3">
    Your browser does not support the audio element.
  </audio>
</div> -->
</div>
</div>