@import '../node_modules/bootstrap/scss/bootstrap';

// Bootstrap Color Overwrites
$custom-primary: #54baca;
$custom-secondary: #A9BCD0;
$custom-tertiary: #343A40;
$custom-light: #D8DBE2;
$white: #ffffff;
$custom-dark: #1B1B1E;


/* You can add global styles to this file, and also import other style files */
#web-icon {
    padding-right: 2px;
    padding-left: 2px;
}

#submit-button {
    background-color: #5F9FA8;
    border-color: #5F9FA8;
}

#submit-button {
    color: #fff
}

#submit-button:not(:disabled):not(.disabled):active {
    background-color: #427B83;
    border-color: #427B83;
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
}

#submit-button:hover {
    background-color: #5096A0;
    border-color: #5096A0;
}

a {
    color: rgba(255,255,255,.5);
}

a:active {
    color: rgba(255,255,255,.75);
}

a:hover {
    color: rgba(255,255,255,.75);
}

#profile-dropdown {
    transform: translate3d(-50px, -2px, 0) !important;
}

.dropdown-item:active {
    background-color: #B0C2D4;
}

html {
    /* To make use of full height of page*/
    height: 100%;
    margin: 0;
}
body {
    height: 100%;
    margin: 0;
    min-width: min-content;
}

.login-modal-footer {
    display: flex;
}

.login-modal-footer {
    .mr-auto {
        color: #5096A0 !important;
    }
}

// Primary
.text-primary {
    color: $custom-primary !important;
}
a.text-primary:hover{
    color: darken($custom-primary, 15%) !important;
}
.btn-primary,
.border-primary {
    border-color: $custom-primary !important;
}
.btn-primary,
.bg-primary {
    background-color: $custom-primary !important;
}
.btn-primary:hover {
    background-color: darken($custom-primary, 15%) !important;
    border-color: darken($custom-primary, 15%) !important;
}
.btn-primary:not(.disabled):active:focus,
.btn-primary:focus {
    background-color: darken($custom-primary, 13%) !important;
    border-color: darken($custom-primary, 13%) !important;
}

// Secondary
.text-secondary {
    color: $custom-tertiary !important;
}
a.text-secondary:hover {
    color: darken($custom-tertiary, 15%) !important;
}
.btn-secondary,
.border-secondary {
    border-color: $custom-tertiary !important;
}
.btn-secondary,
.bg-secondary {
    background-color: $custom-tertiary !important;
}
.btn-secondary:hover {
    background-color: darken($custom-tertiary, 15%) !important;
    border-color: darken($custom-tertiary, 15%) !important;
}
.btn-secondary:not(.disabled):active:focus,
.btn-secondary:focus {
    background-color: darken($custom-tertiary, 13%) !important;
    border-color: darken($custom-tertiary, 13%) !important;
}

// Tertiary
.text-tertiary {
    color: $custom-tertiary !important;
}
a.text-tertiary:hover {
    color: darken($custom-tertiary, 15%) !important;
}
.btn-tertiary,
.border-tertiary {
    border-color: $custom-tertiary !important;
}
.btn-tertiary,
.bg-tertiary {
    background-color: $custom-tertiary !important;
}
.btn-tertiary:hover {
    background-color: darken($custom-tertiary, 15%) !important;
    border-color: darken($custom-tertiary, 15%) !important;
}
.btn-tertiary:not(.disabled):active:focus,
.btn-tertiary:focus {
    background-color: darken($custom-tertiary, 13%) !important;
    border-color: darken($custom-tertiary, 13%) !important;
}

// Light
.text-light {
    color: $white !important;
}
a.text-light:hover {
    color: darken($white, 15%) !important;
}
.btn-light,
.border-light {
    border-color: $white !important;
}
.btn-light,
.bg-light {
    background-color: $white !important;
}
.btn-light:hover {
    background-color: darken($white, 15%) !important;
    border-color: darken($white, 15%) !important;
}
.btn-light:not(.disabled):active:focus,
.btn-light:focus {
    background-color: darken($white, 13%) !important;
    border-color: darken($white, 13%) !important;
}

// Dark
.text-dark {
    color: $custom-dark !important;
}
a.text-dark:hover {
    color: darken($custom-dark, 15%) !important;
}
.btn-dark,
.border-dark {
    border-color: $custom-dark !important;
}
.btn-dark,
.bg-dark {
    background-color: $custom-dark !important;
}
.btn-dark:hover {
    background-color: darken($custom-dark, 15%) !important;
    border-color: darken($custom-dark, 15%) !important;
}
.btn-dark:not(.disabled):active:focus,
.btn-dark:focus {
    background-color: darken($custom-dark, 13%) !important;
    border-color: darken($custom-dark, 13%) !important;
}