<div *ngIf="!errorsOccurred"
	class="container">
	<div class="d-flex align-items-stretch"
		*ngIf="isContentLoaded && sermonSeries">
		<img class="series-img" 
		src="{{sermonSeries.ArtUrl}}"
		alt="Series image">
		<div class="summary-info">
			<div class="series-details">
				<h2>{{sermonSeries.Name}}</h2>
				<p *ngIf="sermonSeries?.StartDate && !sermonSeries.EndDate"
					class="time-span">Current Series</p>
				<p *ngIf="sermonSeries.EndDate && sermonSeries.StartDate === sermonSeries.EndDate"
					class="time-span">{{ sermonSeries.StartDate | date: 'MMMM d, YYYY':'UTC' }}</p>
				<p *ngIf="sermonSeries.EndDate && sermonSeries.StartDate !== sermonSeries.EndDate"
				class="time-span">{{ sermonSeries.StartDate | date: 'MMMM d, YYYY':'UTC' }} - {{ sermonSeries.EndDate | date: 'MMMM d, YYYY':'UTC' }}</p>
				<div class="row">
					<div class="col">
						<div class="detail">
							<p><strong>Total Duration:</strong> {{ totalDuration | duration: 'h[h] m[m]' }}</p>
						</div>
					</div>
					<div class="col">
						<div class="detail">
							<p><strong>Total File Size:</strong> {{ totalFileSize | filesize: 'MB' }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	 
	<div class="message-list"
		 *ngIf="isContentLoaded && sermonSeries">
		<app-message-summary
			*ngFor="let message of messages"
			[message]="message"
			[seriesId]="sermonSeries.Id">
		</app-message-summary>
	</div>
	<div class="d-flex align-items-stretch"
		*ngIf="!isContentLoaded">
		<div class="col">
			<div class="row">
				<ngx-skeleton-loader
				count="1"
				[theme]="imageTheme$ | async">
			</ngx-skeleton-loader>
			</div>
		</div>
		<div class="col">
			<div class="row">
				<div class="summary-info">
					<div class="series-details">
						<ngx-skeleton-loader
							count="1"
							appearance="line"
							animation="pulse"
							[theme]="titleTheme$ | async">
						</ngx-skeleton-loader>
						<ngx-skeleton-loader
							count="1"
							appearance="line"
							animation="pulse"
							[theme]="subtitleTheme$ | async">
						</ngx-skeleton-loader>
						<div class="row">
							<div class="col">
								<div class="detail">
									<ngx-skeleton-loader
										count="1"
										appearance="line"
										animation="pulse"
										[theme]="detailTheme$ | async">
									</ngx-skeleton-loader>
								</div>
							</div>
							<div class="col">
								<div class="detail">
									<ngx-skeleton-loader
										count="1"
										appearance="line"
										animation="pulse"
										[theme]="detailTheme$ | async">
									</ngx-skeleton-loader>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	 
	<div class="message-list" 
		 *ngIf="!isContentLoaded">
		<app-message-summary-skeleton
			*ngFor="let item of [].constructor(messageCount)">
			{{item}}
		</app-message-summary-skeleton>
	</div>
</div>
<app-page-not-found *ngIf="isContentLoaded && errorsOccurred"></app-page-not-found>